<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>7-18-界面搭建.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0AD00921F1DE7B100223361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0AD00A61F1DE7B100223361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0AD00B11F1DE7B100223361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
